@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    font-family: "Poppins", sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pexels-photo-3801463.webp) no-repeat;
    background-position: center;
    
}
.regform{
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0,0.2);
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px;
    border-radius: 15px
    
    
}
.heading {
   text-align: center;
   color: white;
}
.input input{
    width: 100%;
    margin: 10px 0%;
    border-radius: 15px;
    padding: 5px;
}
button{
    width: 200px;
    border-radius: 20px;
     
}
.btn{
    margin: 20px 0px;
    margin-left: 95px;
   
    
}
.box{
    color: white;
    
}
.box a{
    color: white;
margin-left: 75px;
text-decoration: none;
}
.last a{
    text-decoration: none;
    margin-left: 10px;
}
.input label{
    color: white;
}
.last{
    color: white;
}
.last a{
    color: white;
}
    
    
